@{
    IEnumerable<Quiz> quizzes = ViewBag.Quizzes;
    String error = ViewBag.error;
}
<style>
    body {
        background-color: ghostwhite;
    }

    .titre {
        display: flex;
        margin-bottom: 30px;
        justify-content: space-around;
        font-size: 25px;
        color: white;
    }

    .divbtns {
        display: flex; /* Make the parent container a flex container */
        justify-content: space-around;
      margin-left:40px;
    }

        .divbtns > div {
            flex: 1; /* Each child element takes equal space */
            margin: 0 5px; /* Optional: Add spacing between child elements */
        }

    .titre {
        display: flex;
        margin-top: 40px;
        justify-content: space-around;
        font-size: 25px;
        color: rgb(116, 40, 188);
    }
</style>

<h1>@error</h1>
<div class="container">
    <div class=" titre"><b>List Of My Quizzes</b></div>
    <div class="row">
        @foreach (Quiz q in quizzes)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body ">
                        <h5 class="card-title" style="text-align:center">@q.QuizName</h5>
                        <p class="card-text" style="text-align:center"><b>Description: </b>@q.Description</p>
                        <p class="card-text" style="text-align:center"><b>Duration:</b> @q.DurationMinutes minutes</p>
                        <p class="card-text" style="text-align:center"><b>Number of questions:</b> @q.NbrQuestion</p>
                        <div class="divbtns">
                            <div>
                               
                                <form asp-action="Update">
                                    <input hidden type="hidden" value="@q.QuizId" name="idQuiz"></input>
                                    <button type="submit" class="btn btn-primary ">
                                        Update
                                    </button>
                                </form>
                            </div>
                            <div>
                                <form method="post" asp-action="Delete">
                                    <input type="hidden" value="@q.QuizId" name="idQuiz"></input>
                                    <button type="submit" class="btn btn-danger">
                                        Delete
                                    </button>
                                </form>
                            </div>
                       
                        </div>
                    </div>
                </div>
            </div>
            
        }
    </div>
</div>